body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

a:link    { color: #3f3fa4; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

img {
    border-radius: 8px;
    max-width: 100%;
}

.gird {
    max-width: 60rem;
    margin: 0 auto;
    display: grid;
    columns: 3;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}

.entry-title {
  min-height: 2em;
  line-height: 1em;
  color: #000000;
  margin-bottom: 30px;
}
