{% extends "base.html" %}
<meta name="keywords" content="
  {%- if GLOBAL_KEYWORDS -%}
    {{ GLOBAL_KEYWORDS|join(', ') }}
  {%- endif -%}">

<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="website">
{% if page.ogimage %}
<meta property="og:image" content="http://{{ GOOGLE_ANALYTICS_PROP }}/{{ page.ogimage }}">
<meta property="og:image:secure_url" content="https://{{ GOOGLE_ANALYTICS_PROP }}/{{ page.ogimage }}">
{% endif %}
<meta property="og:site_name" content="https://{{ GOOGLE_ANALYTICS_PROP }}">
<meta property="og:description" content="{{ page.summary|striptags }}">
<meta property="og:url" content="https://{{ GOOGLE_ANALYTICS_PROP }}/pages/{{ page.slug }}.html">

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
{% endblock %}
