{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
<p class="paginator">
    {% if articles_page.has_previous() %}
        <a href="{{ SITEURL }}/{{ first_page.url }}">To the First Page</a>
        <br>
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">To the Previous Page</a>
        <br>
    {% endif %}
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">To the Next Page</a>
        <br>
        <a href="{{ SITEURL }}/{{ last_page.url }}">To the Last Page</a>
        <br>
    {% endif %}
</p>
{% endif %}
